

canvas {
  cursor: crosshair;
  margin: auto;
  margin-bottom: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  border: black solid 3px;
  background-color: #ffffff;
  touch-action: none; 
  user-select: none; 
} 

.controls {
  text-align: center;
  align-items: center;
  margin: auto;
  padding: 0;
  gap: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  touch-action: none; 
  user-select: none; 
}

button, input [type="color"] {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 7px;
  transition: background-color 0.5s;
  touch-action: none; 
  user-select: none; 
} 

.active {
  background-color: #a1a1a1;
  border: 1px solid #000000;
}

#content {
width: 40px;
height: 150px;
border: 1px solid #000;
margin-bottom: 10px;
}

button:hover,input[type="color"]:hover {
background-color: #fa7b7b;
}



